.home-content{
    background: url('../../assets/images/homepage.jpg');
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 110vh;
    overflow: hidden;
    margin: 0;
    padding:0;
    font-family: raleway-extra-bold;
    width: 100%;
}
