.contact{
    background: url('../../assets/images/contactpage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    padding:0;
    font-family: raleway-extra-bold;
}

.contact-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-top: 190px;
    margin-right: 260px;
    width: 35%;
}
.contact-content input{
    height:50px ;
    border: 1px solid #0019FF;
    border-radius: 5px;
    padding-left: 12px;
    margin-top: 10px;
}
.contact-content h1{
    color: #0019FF;
}
textarea{
    height: 120px;
    border: 1px solid #0019FF;
    border-radius: 5px;
    padding: 12px;
    margin-top: 20px;
}
.contact-follows{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 65px;
    margin-right: 12px;
}
.contact-follows ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.contact-follows span{
    color: #0019FF;
    font-size: 21px;
}
.contact-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 180px;
}
.contact-footer p{
    font-family: raleway-bold;
    font-size: 21px;
    margin-top: 12px;
    padding-left: 30px;
}
.contact-buttons{
    margin-top: 30px;
}